.search-container {
  position: relative;
}

.search-container .input-field {
  box-sizing: border-box;
}

.crypto-icon {
  width: 1.3rem;
  height: auto;
}

.option-container {
  flex-grow:1;
  height: 2rem;
  display: flex;
  gap:10px;
  align-items: center;
}
