<table class='allocation-table'>
  <thead>
  <tr class='header-row table-row'>
    <th>Crypto</th>
    <th>Amount ($)</th>
    <th>Percentage</th>
  </tr>
  </thead>
  <tbody>
    <app-allocation-row *ngFor='let allocation of allocations' [cryptoAllocation]='allocation' [totalAmount]='getTotalAmount()'></app-allocation-row>
  <tr class='table-row'>
    <td>
      <button (click)='addAllocation()'>Add allocation</button>
    </td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
  <tfoot>
  <tr class='total-row table-row'>
    <td>Total</td>
    <td>{{ getTotalAmount() }} $</td>
    <td>{{ totalPercentage }}%</td>
  </tr>
  </tfoot>
</table>
