.allocation-table {
  padding: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-row {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.total-row {
  font-weight: 500;
  margin-top: 1rem;
  padding-top: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
