/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--mat-app-);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-row td, .table-row th {
  padding: 0.5rem;
  text-align: center;
}
